[submodule "Cpp/GenCameraDriver"]
	path = Cpp/GenCameraDriver
	url = https://github.com/yuanxy92/GenCameraDriver
[submodule "Cpp/OpenGLImageWarper"]
	path = Cpp/OpenGLImageWarper
	url = https://github.com/yuanxy92/OpenGLImageWarper.git
[submodule "Cpp/CameraCalibration"]
	path = Cpp/CameraCalibration
	url = https://github.com/zhu-ty/CameraCalibration
[submodule "Cpp/SKEncoder"]
	path = Cpp/SKEncoder
	url = https://github.com/zhu-ty/SKEncoder.git
